.white-card{
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: $border-style;
    border-radius: $border-radius;

    h2{
        color: $main-color;
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}