*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

a, li, button, input[type=submit]{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

input{
    border: none;
}

select{
    color: $secondary-text-color !important;
}

.icon{
    color: $main-color;
}