*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

a, li, button, input[type=submit]{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

input{
    border: none;
}

select{
    color: $secondary-text-color !important;
}

.icon{
    color: $main-color;
}

.loading{
    height: 100px;
    width: 100px;
}

.message{
    padding: 10px;
    font-size: 18px;
    color: $text-color;
    text-align: center;

    &--success{
        background-color: $success-color;
    }

    &--error{
        background-color: $error-color;
    }

    &--warning{
        background-color: $warning-color;
        color: $secondary-text-color;
    }
}