@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

a, li, button, input[type=submit] {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: none;
}

select {
  color: #444 !important;
}

.icon {
  color: #2ca17e;
}

.loading {
  height: 100px;
  width: 100px;
}

.message {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.message--success {
  background-color: #07941a;
}

.message--error {
  background-color: #960303;
}

.message--warning {
  background-color: #f1dd20;
  color: #444;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.white-card {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e4e4e4;
  border-radius: 7px;
  margin-top: 30px;
  height: auto;
  width: 90%;
  text-align: center;
}

.white-card h2 {
  color: #2ca17e;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.white-card h3 {
  color: #2ca17e;
}

.extended {
  width: 90%;
  overflow-x: auto;
}

.full-page {
  overflow-x: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .input-container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .white-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .extended {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .full-page {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex .input-container {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media only screen and (min-width: 1140px) {
  .white-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    margin-right: 1%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .extended {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .full-page {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  font-weight: 600;
  color: #2ca17e;
  margin: 15px 0px;
}

.input-container input,
.input-container select {
  color: #444;
  padding: 5px 10px;
  margin: 5px 0px;
  font-size: 20px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #2ca17e;
  width: 100%;
  background-color: transparent;
  width: 100%;
}

.input-container .icon {
  margin-right: 10px;
}

.input-container button {
  margin: 0px auto;
}

.button {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.button--send {
  background-image: -webkit-gradient(linear, right top, left top, from(#21795f), to(rgba(44, 161, 126, 0.7)));
  background-image: linear-gradient(to left, #21795f, rgba(44, 161, 126, 0.7));
}

.button--send:active {
  background-image: -webkit-gradient(linear, right top, left top, from(#1c654f), to(rgba(44, 161, 126, 0.8)));
  background-image: linear-gradient(to left, #1c654f, rgba(44, 161, 126, 0.8));
}

.main-nav {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav i {
  font-size: 56px;
  color: #2ca17e;
  margin: 10px;
}

.main-nav img {
  height: 56px;
  width: auto;
  margin-right: 10px;
}

.main-nav .main-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.main-nav .main-menu li {
  visibility: inherit;
  padding: 7px 10px;
  font-size: 28px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2ca17e;
  border-bottom: 1px solid rgba(44, 161, 126, 0.5);
}

.main-nav .main-menu li i {
  font-size: 28px;
  margin-right: 20px;
}

.main-nav .main-menu li:hover {
  background-color: #2ca17e;
  color: #fff;
}

.main-nav .main-menu li:hover i {
  color: #fff;
}

.isVisible {
  -webkit-animation: 0.5s slideIn forwards;
          animation: 0.5s slideIn forwards;
}

.isNotVisible {
  -webkit-animation: 0.5s slideOut forwards;
          animation: 0.5s slideOut forwards;
}

@-webkit-keyframes slideIn {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

@keyframes slideIn {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

@-webkit-keyframes slideOut {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}

@keyframes slideOut {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}

@media only screen and (min-width: 1140px) {
  .main-nav {
    height: 100vh;
    position: fixed;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-nav img {
    width: 200px;
    height: auto;
    min-width: 150px;
    margin-right: 0px;
  }
  .main-nav .ion-md-menu {
    display: none;
  }
  .main-nav .main-menu {
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  .main-nav .main-menu li {
    padding: 10px;
    font-size: 20px;
  }
}

.page-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 10px;
  width: 90%;
}

.page-title h2 {
  text-align: left;
  font-size: 36px;
}

@media only screen and (min-width: 768px) {
  .page-title {
    margin-top: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  min-width: 1000px;
}

.list li {
  color: #444;
  padding: 10px 0px;
  max-width: 220px;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
}

.list li select {
  background-color: transparent;
  border: none;
  color: #444;
  font-size: 16px;
}

.list .long {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 0px;
          flex: 3 0 0;
}

.list .short {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.list:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 20px;
}

.list:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #e4e4e4;
}

.header li {
  font-weight: bold;
  background-color: #2ca17e;
  color: #fff;
}

.confirmed {
  color: #fff !important;
  background-color: #2ca17e;
  font-weight: bold;
}

.confirmed li, .confirmed select {
  color: #fff !important;
  cursor: pointer;
}

.confirmed option {
  color: #444;
}

.reserved {
  background-color: #f1dd20;
  font-weight: bold;
}

.no-data {
  font-size: 22px;
  text-align: center;
  padding: 15px 0px;
}

@media only screen and (min-width: 1140px) {
  .list {
    overflow: auto;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.modal .white-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-height: 45vh;
}

.modal .white-card h2 {
  font-size: 24px;
}

.modal .white-card textarea {
  width: 100%;
  resize: none;
  margin: 20px 0px;
  padding: 10px;
  border: 1px solid #e4e4e4;
  overflow-y: auto;
  max-height: 120px;
}

.modal .white-card p {
  margin: 5px 0px;
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
  overflow-y: auto;
  max-height: 120px;
  border: 1px solid #e4e4e4;
}

.modal .input-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 1140px) {
  .modal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .modal .white-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-height: 60vh;
    height: 60vh;
    overflow-y: auto;
  }
  .modal .white-card textarea {
    height: 200px;
    max-height: 130px;
  }
  .modal .white-card p:not(.message) {
    height: 250px;
    max-height: 250px;
  }
}

.page {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(#21795f), to(rgba(44, 161, 126, 0.7)));
  background-image: linear-gradient(to left, #21795f, rgba(44, 161, 126, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 100px 0px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 110px 30px 30px;
  }
}

@media only screen and (min-width: 1140px) {
  .page {
    padding: 30px 50px 30px 220px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.login {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0px;
}

.login img {
  margin: 10px auto;
  width: 100px;
  height: auto;
}

.login .white-card {
  text-align: center;
  max-width: 400px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */